@font-face {
	font-family: pacifico;
	src: url(fonts/Pacifico.ttf);
}
@font-face {
	font-family: myra;
	src: url(fonts/Myra.otf);
}
body {
	background: url(images/background-image.jpg), repeat-y;
}
#fundo-principal {
	background-image: url(images/wavegrid.png);
	min-height: 80%;
	margin: 3% 12.8%;
	border-radius: 10px;
	padding: 1.5%;
}
#fundo-principal-borda {
	border: 1px solid gray;
	padding: 3% 4.2%;
	min-height: 600px;
}
#site-title {
	margin: 0;
	line-height: 110px;
	height: 50%;
	text-align: center;
}
#site-title-a:link {
	text-decoration: none;
}
#site-title-a {
	margin: 0px;
	font-family: pacifico, cursive;
	color: #1C1C1C;
	font-size: 110px;
	text-shadow: 1px 1px 3px;
	transition: color 0.3s linear;
}
#site-title-a:hover {
	color:#000000;
}
#header-h2 {
	border-top: 1px solid #B5B5B5;
	border-bottom: 1px solid #B5B5B5;
	padding: 2% 0px;
	display: flex;
}
#subtitle {
	font-weight: 100;
	position: relative;
	color: white;
	text-align: center;
	font-family: myra, tahoma;
	padding: 0.5%;
	background-color: #4fd8e8;
	background-image: linear-gradient(to bottom, #5CACEE, #1E90FF);
	box-shadow: black 0px 1px 3px;
	z-index: 9999;
	margin:0px;
	width: 100%;
}
.subtitle-side{
	width: 0px;
	height: 0px;
	padding: 0px;
	position: relative;
	border: 17.5px solid #1E90FF;
	display: block;	
	z-index: 1;
	top: 0.3em;
}
#subtitle-left{
	box-shadow: black 2px 1px 3px;
	border-left-color: transparent;
	float: left;
}
#subtitle-right{
	box-shadow: black -2px 1px 3px;
	border-right-color: transparent;
	float: right;
}
nav {
	position: relative;
	text-align: center;
	font: 17px Myra;
}
nav ul {
	display: inline-block;
	list-style: none;
	position: relative;
	padding-left: 0px;
	width: 262px;
	height: 100%
}
nav li {
	float: left;
	position: relative;
	height: 25px;
	width: 26%;
}
nav a:link {
	text-decoration: none;
}
nav a {
	color: #828282;
	position: absolute;
	top: 5px;
	left: 0px;
	z-index: 9999;
	text-align: center;
	width: 100%;
	transition: color 0.3s linear;
}
#motocatt-menu {
	border: 1px solid #B5B5B5;
	border-top-color: transparent;
	border-bottom-color: transparent;
	width: 46%;
}
#motocatt-menu a {
	width: 100%;
}
nav li::before, nav li::after {
	content: " ";
	position: absolute;
	top:0px;
	left: 0px;
	width: 0px;
	height: 110%;
	background-color: #FF82AB;
	transition: width 0.2s ease, left 0.2s ease;
	z-index: 0;
}
nav li::before, nav li::after {
	left: 50%;
}
nav li:hover::before, nav li:hover::after {
	width: 50%;
}
nav li:hover::before {
	left: 0%;
}
nav li:hover a{
	color: white;
}
#feed {
	text-align: center;
}
.article-h1 {
	font: 40px Myra;
	color: #333333;
	margin: 0%;
	margin-top: 3%;
}
#sep {
	width: 30px;
	height: 1px;
	background-color: #B5B5B5;
	margin-left: 48%;
}
.author-date {
	font: 15px tahoma;
	color: #575656;
	margin: 1px;
}
.author-date a:link {
	text-decoration: none;
}
.author-date a {
	color: #F9F;
}
.article {
	margin-top: 5%;
	font-family: tahoma;
	text-align: left;
	color: cadetblue;
}
.article a:link {
	text-decoration: none;
	text-transform: uppercase;
}
.article a {
	color: #F9F;
}
.article h2 {
	font: 25px Myra;
	color: #0A343F;
	text-align: center;
}
.article h3 {
	font: 20px Myra;
	color: #0A343F;
	text-align: center;
}
.article img {
	width: 100%;
	height: auto;
}
.article p.coments {
	font-size:15px;
	padding-left:10%;
	color:#666666;
	font-style: italic;
}
.article ul li {
	list-style-type: none;
}
#footer {
	font: 11px tahoma;
	text-align: center;
	color: rgb(80, 80, 80);
}
#footer a {
	color: #F9F;
}
#footer a:link {
	text-decoration: none;
}
@media (max-width: 664px) {
	#site-title-a {
		font-size: 90px;
	}
	#site-title {
		line-height: 90px;
	}
	#subtitle {
		font-size: 17px;
		padding: 1%;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
	}
	#fundo-principal {
		padding: 3%;
	}
	.subtitle-side{
		border: 11.5px solid #1E90FF;
		top: 0.6em;
	}
	nav ul {
		width: 100%;
	}
	.article-h1 {
		font-size: 35px;
	}
	#sep {
		margin-left: 46%;
	}
	.author-date {
		font-size: 10px;
	}
}
@media (max-width: 550px) {
	#site-title-a {
		font-size: 70px;
	}
	#site-title {
		line-height: 70px;
	}
	#subtitle {
		font-size: 15px;
	}
	.subtitle-side{
		border: 11.5px solid #1E90FF;
		top: 0.5em;
	}
	nav li {
		font-size: 0.8em;
		height: 20px;
	}
	.article-h1 {
		font-size: 29px;
	}
}
@media (max-width: 457px) {
	#site-title-a {
		font-size: 50px;
	}
	#site-title {
		line-height: 50px;
	}
	#subtitle {
		font-size: 13px;
	}
	.subtitle-side{
		border: 10.5px solid #1E90FF;
		top: 0.4em;
	}
	.article-h1 {
		font-size: 25px;
	}
}
@media (max-width: 397px){
	#subtitle {
		font-size: 11px;
	}
	#site-title-a {
		font-size: 40px;
	}
	#site-title {
		line-height: 40px;
	}
	.subtitle-side{
		border: 9px solid #1E90FF;
		top: 0.3em;
	}
	nav li {
		font-size: 0.7em;
	}
}
@media (max-width: 343px) and (min-width: 320px){
	#subtitle {
		font-size: 10px;
	}
	.subtitle-side{
		border: 8px solid #1E90FF;
		top: 0.2em;
	}
}